.program{
    &__buttons{
        display: flex;
        gap: 12px;
        
    }
    &__btn{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background:  #1D1D1F;
        border: none;
        border-radius: 8px;
        gap: 8px;
        height: 37px;
        padding: 7px 9px;
    }
}