.contract{

        &__container{
            display: flex;
            flex-direction: column;
            padding-top: 32px;
            max-width: 778px;
            width: 100%;
        }
        &__title{
            color: #1D1D1F;
            font-family: 'Inter';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 64px; 
        }
        &__top{
            padding: 32px;
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 128px;
            &_text{
                color:  #686870;
                font-family: 'Inter';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }


        &__dates{
            width: 100%;
            padding: 32px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            &_text{
                color:#1D1D1F;
                font-family: 'Inter';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                & span{
                    color: #686870;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }


        &__content{
            width: 100%;
            padding: 32px;
            display: flex;
            flex-direction: column;
            &_title{
                padding-top: 32px;
                margin-left: 32px;
                color: #1D1D1F;
                font-family:' Inter';
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px; 
            }
            &_text{
                margin-top: 14px;
                color: #1D1D1F;
                font-family: 'Inter';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;

            }
            
        }


        &__bottom{
            padding: 32px;
            color: #1D1D1F;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; 
        }
}