@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color:#F5F5F7;
}


a.active{
    background: rgba(255, 102, 51, 0.15);
    color: #F63;
}
    
